html {
  box-sizing: border-box;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.grains {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.grains li {
  display: block;
  padding: 10px;
}

.grains img {
  width: 100px;
  float: left;
}

.grains h2 {
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 0;
}

.grains p {
  font-style: italic;
  font-size: .75em;
  margin-top: 0;
}
