html {
  box-sizing: border-box;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.grains {
  margin: 0;
  padding: 0;
  display: inline-block;

  list-style-type: none;
}

.grains li {
}

.grains img {
  width: 100px;
  float: left;
}

.grains h2 {
  font-size: 1em;
}

.grains p {
}
